.App {
  margin: 40px auto;
  max-width: 200px;
}

.App-header {
  color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.App-activities {
  margin-bottom: 25px;
}
.App-activities__date {
  border-bottom: 1px solid #282c34;
  padding: 10px 0;
}

.App-activity {
  align-items: center;
  border-bottom: 1px solid #282c34;
  display: flex;
  font-size: 11px;
  padding: 10px;
}

.App-activity__image {
  height: 30px;
  width: 30px;
}
.App-activity__image img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.App-activity__content {
  padding: 0 25px;
  flex: 1;
}
.App-activity__content__type {
  color: #aaa;
  font-size: 8px;
}

.App-more {
  color: #61dafb;
  cursor: pointer;
  text-align: center;
}
